In [2]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [4]:
csv_file = "economic_freedom.csv"
freedom_data_df = pd.read_csv(csv_file)
freedom_data_df.head()

,Country name,index year,overall score,property rights,government integrity,judicial effectiveness,tax burden,government spending,fiscal health,business freedom,labor freedom,monetary freedom,trade freedom,investment freedom,financial freedom
0,Afghanistan,2016,NaN,NaN,12.0,NaN,91.6,81.2,NaN,56.6,63.2,NaN,NaN,55.0,NaN
1,Albania,2016,65.9,35.0,33.0,NaN,87.8,75.0,NaN,67.6,51.5,81.7,87.6,70.0,70.0
2,Algeria,2016,50.1,25.0,36.0,NaN,81.0,59.4,NaN,62.1,48.2,68.1,60.8,30.0,30.0
3,Angola,2016,48.9,15.0,19.0,NaN,87.8,50.1,NaN,50.3,44.8,72.2,70.2,40.0,40.0
4,Argentina,2016,43.8,15.0,34.0,NaN,66.1,51.3,NaN,56.0,43.9,44.0,67.4,30.0,30.0

In [ ]:
new_freedom_data=freedom_data_df=